.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 60%;
  }

  .center-align {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .note {
    color: #6c757d; /* Bootstrap's muted text color */
    font-size: 14px; /* Adjust as needed */
    margin-top: 10px; /* Add spacing above the note */
  }
  
